.containerStyle {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 2% 10% 2% 10%;
}

/* .result>div {
    margin-bottom: 50px;
}

.result>div>div {
    width: 40%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px solid green;
    border-left: 1px solid green;
    border-radius: 10px;
} */

.rowContainerStyle{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #dedede;
}
.spanStyle{
    width: 30%;
    display: block;  
    font-weight: bold;
}

@media only screen and (max-width: 425px) {
    .rowContainerStyle{
        flex-direction: column;       
    }
  } 