.input {
  /* width: 50%;
  margin: auto; */
  margin-bottom: 2rem;
}
.contentInput{
  display: flex;
  flex-direction: row;
}
.labelStyle{
  font-weight: bold;
  /* margin-right: 1rem; */
  width: 30%;
  display: block;  
  /* border: 1px dashed green; */
}
.inputStyle{
  display: block;
/* width: 100%; */
padding: 10px;
color: #4b566b;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #dae1e7;
appearance: none;
border-radius: 5px;
box-shadow: inset 0 1px 2px transparent;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.responseErrorText{
  display: flex;
  flex-direction: column;
  width: 95%;
}
/* .input label {
  font-weight: bold;
  margin-right: 1rem;
} */

/* .input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  width: 50%;
}

.input textarea {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  width: 50%;
} */

.errorText {
  color: red;
}

.test{
  border: 1px dashed red;
}

@media only screen and (max-width: 425px) {
  .contentInput{
    display: flex;
    flex-direction: column;
  }
} 